<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    官方文档：组件-自定义组件的v-model
    <h1>组件的v-model实现数据双向绑定</h1>
    <div id="app" class="parent">
        <div>
            父组件：{{ msg }}
        </div>
        <!-- 子组件  通过组件的v-model将msg数据传递给自己（子组件）
        v-model做的事情 @input="事件"不用在父组件中指定，自动会帮你指定-->
        <my-component v-model="msg"></my-component>
    </div>
    <script src="./vue.js"></script>
    <script>
    Vue.component('my-component',{
        //***1文本框帮绑定自己的数据，文本框数据一变，myValue的值就会改变
        template:`
        <div class="child">
            子组件拿到的数据展示为以下：
            <input type="text" v-model="myValue" />
            <button @click="fn">修改数据</button>
         </div>
        `,
        created(){
            console.log(this.value);  
        },
        // 子组件接收props这个属性  value就是msg,默认情况下，传递的props名称为value
        //注意组件通讯，******一定不能修改props
        props:['value'],

        data(){
            return {
                //拿到了value交给自己的数据myValue，自己的数据是可以修改的
                myValue:this.value    
            }
        },
        methods:{
            fn(){
                //父组件自动传递一个input事件，子组件可以通过$emit()来触发该事件，将this.myValue数据提交给父组件
                //事件点击之后myValue的值一变，就会改变父组件的值
                this.$emit('input',this.myValue)  //data:this.myValue
            }
        }

    })
    var vm=new Vue({  //父组件
        el:'#app',
        data:{
            msg:'我说什么，你展示什么'  //父组件的msg
        }
    })
    </script>
</body>
</html>